{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "bootstrap/css/starter-template.css" %}" rel="stylesheet">

    <link href="{% static "bootstrap/css/home.css" %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{% static "bootstrap/assets/js/ie-emulation-modes-warning.js" %}"></script>


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

  <body>

  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
          <div class="navbar-header">
              <a class="navbar-brand" href="#">QuickStart</a>
          </div>
          <div>
              <!--向右对齐-->
              <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          {{ username }} <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu">
                          <li><a href="{% url 'logout' %}" align=right>Logout</a></li>
                          {#               <li class="divider"></li>#}
                          {#               <li><a href="#">分离的链接</a></li>#}
                      </ul>
                  </li>
              </ul>
          </div>
      </div>
  </nav>

  <div class="container">

      <div class="starter-template">
          <h1>To do list 示例</h1>
          {#        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>#}
      </div>
      <div class="container">
          <div class="row">
              <div class="col-md-11">
                  <div class="alert alert-success alert-dismissable fade in hide" id="add-task-suc">
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                      <strong>Success!</strong> Add task success.
                  </div>
              </div>
          </div>
      </div>

      <div class="container">
          <div class="row">
              <div class="col-md-11">
                  <div class="alert alert-success alert-dismissable fade in hide" id="del-task-suc">
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                      <strong>Success!</strong> Delete task success.
                  </div>
              </div>
          </div>
      </div>

      <div class="container">
          <div class="row">
              <div class="col-md-11">
                  <div class="panel panel-primary">
                      <div class="panel-heading">
                          <span class="glyphicon glyphicon-list"></span>任务
                          <div class="pull-right action-buttons">
                              <div class="btn-group pull-right">
                                  <button type="button" class="btn btn-default btn-xs dropdown-toggle"
                                          data-toggle="dropdown">
                                      <span class="glyphicon glyphicon-plus-sign" style="margin-right: 0px;"></span>
                                  </button>
                                  <ul class="dropdown-menu slidedown">
                                      <li><a href="#Add" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus"></span>Add</a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="panel-body">
                          <ul class="list-group" id="task-list">
                              {% for each in tasks %}
                                  <li class="list-group-item">
                                      <div class="checkbox">
                                          <label for="checkbox">
                                              {{ each.taskinfo }}
                                          </label>
                                      </div>
                                      <div class="pull-right action-buttons" id="delete-btn">
                                          <a href="#" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
                                      </div>
                                  </li>
                              {% endfor %}
                          </ul>
                      </div>
                      <div class="panel-footer">
                          <div class="row">
                              <div class="col-md-6">
                                  <h6>Total Count <span class="label label-info">{{ tasks.count }}</span></h6>
                              </div>
                              <div class="col-md-6">
                                  <ul class="pagination pagination-sm pull-right">
                                      <li class="disabled"><a href="javascript:void(0)">«</a></li>
                                      <li class="active"><a href="javascript:void(0)">1 <span
                                              class="sr-only">(current)</span></a></li>
                                      <li><a href="http://www.jquery2dotnet.com">2</a></li>
                                      <li><a href="http://www.jquery2dotnet.com">3</a></li>
                                      <li><a href="http://www.jquery2dotnet.com">4</a></li>
                                      <li><a href="http://www.jquery2dotnet.com">5</a></li>
                                      <li><a href="javascript:void(0)">»</a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>

                      <!-- Modal -->
                      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                           aria-hidden="true">
                          <div class="modal-dialog">
                              <form id="add-task" action="{% url "addtask" %}" method="post" role="form"
                                    style="display: block;">
                                  {% csrf_token %}
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal"
                                                  aria-hidden="true" id="close">&times;</button>
                                          <h4 class="modal-title" id="myModalLabel">Add Task</h4>
                                      </div>
                                      <div class="modal-body">

                                          <div class="input-group">
                                              <span class="input-group-addon">New Task</span>
                                              <input type="text" name="taskinfo" class="form-control" placeholder="">
                                          </div>

                                      </div>
                                      <div class="modal-footer">
                                          <button type="button" class="btn btn-default"
                                                  data-dismiss="modal">Close</button>
                                          <button type="submit" class="btn btn-primary">Save</button>
                                      </div>
                                  </div>
                              </form>
                              <!-- /.modal-content -->
                          </div>
                          <!-- /.modal-dialog -->
                      </div>
                      <!-- /.modal -->
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- /.container -->
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
  <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script src="http://malsup.github.com/jquery.form.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

  <script>
      // wait for the DOM to be loaded
      $(document).ready(function () {
          // bind 'myForm' and provide a simple callback function
          var options = {
              //target: '#divToUpdate',
              //url: 'addtask',
              dataType: 'json',
              success: showResponse
          };
          $('#add-task').ajaxForm(options);
      });

      // post-submit callback
      function showResponse(responseText, statusText, xhr, $form) {
          // for normal html responses, the first argument to the success callback
          // is the XMLHttpRequest object's responseText property

          // if the ajaxForm method was passed an Options Object with the dataType
          // property set to 'xml' then the first argument to the success callback
          // is the XMLHttpRequest object's responseXML property

          // if the ajaxForm method was passed an Options Object with the dataType
          // property set to 'json' then the first argument to the success callback
          // is the json data object returned by the server

          $('#close').click();
          $('#add-task-suc').attr("class", "alert alert-success alert-dismissable fade in");
          $('#task-list').append("<li class=\"list-group-item\"><div class=\"checkbox\">\
                                          <label for=\"checkbox\">"
                  + responseText["message"]["taskinfo"] +
                  "</label>\
              </div>\
              <div class=\"pull-right action-buttons\">\
                  <a href=\"#\" class=\"trash\"><span class=\"glyphicon glyphicon-trash\"></span></a>\
              </div></li>")
      }

      $.ajaxSetup({
          data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
      });

      $(function () {
          $("#task-list li").each(function () {
              $("#delete-btn a", this).click(function () {
                  //alert($(this).parent().parent().text());
                  $.post('{% url "deltask" %}', {'taskinfo': $.trim($(this).parent().parent().text())}, function (ret) {
                  })
                  $(this).parent().parent().remove();

              });
          });
      });

  </script>
  </body>
</html>
